$footer-padding:1rem 1.5rem 1rem;

@import "../../node_modules/bulma/bulma.sass";

//#app

#app{
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

}

//navbar
.navbar{
    a.router-link-exact-active {
      background-color: $navbar-item-active-background-color;
      color: $navbar-item-active-color;
  }
  
  a.router-link-exact-active:hover {
    background-color: $navbar-item-hover-background-color;
  }
}